---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <div class="grid *:px-3 *:py-2 *:bg-indigo-800 *:rounded-md gap-3 *:w-fit">
    <a href="/select">select</a>
    <a href="/range">range</a>
    <a href="/sortable">sortable</a>
  </div>
</Layout>
