---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Mu-Elements</title>
  </head>
  <body
    class="bg-slate-100 p-2.5 dark:bg-slate-900 dark:text-white grid content-start gap-2.5 min-h-screen"
  >
    <slot />
  </body>
</html>
